.ide {
    width  : 100%;
    display: flex;
}


.tree-view {
    width           : 20%;
    height          : 100%;
    background-color: rgb(170, 169, 168);
    overflow        : scroll;
}

.tree-tab {
    height            : 40px;
    width             : 100%;
    display           : flex;
    /* justify-content: space-evenly; */
    align-items       : center;
}

.project-name {
    width      : 70%;
    font-size  : 25px;
    font-weight: bold;
    text-align : center;
}

.file-icons {
    width          : 30%;
    display        : flex;
    justify-content: space-between;
}

.file-icon:hover {
    background-color: rgb(185, 130, 236);
    border-radius   : 50%;
    cursor          : pointer;
}


.editor {
    width         : 80%;
    height        : 100%;
    display       : flex;
    flex-direction: column;
}

.tool-bar {
    display           : flex;
    align-items       : center;
    /* justify-content: center; */
    height            : 5%;
    background-color  : rgb(80, 79, 79);
}

.run {
    background-color: blue !important;
}

.run:hover {
    background-color: rgb(171, 171, 212) !important;
}

#aceEditor {
    height: 65% !important;
    width : 100% !important;
}
