.ide {
    width: 100%;
    display: flex;
}


.tree-view {
    width: 20%;
    height: 100%;
    background-color: rgb(170, 169, 168);
}


.editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#terminal {
    width: 100%;
    height: 35%
}

#aceEditor {
    height: 65% !important;
    width: 100% !important;
}
