
.tab-text-feed {
    color          : white;
    font-size: 30px;
    font-style: normal;
}

.git-hash-list {
    height: calc(100%-70px);
}

.git-hash {
    font-size      : 20px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-top    : 2px;
    padding-bottom : 2px;
    height         : 40px;
    width          : 100%;
}

.git-hash:hover {
    background-color: brown;
    cursor          : pointer
}

.commit {
    color       : beige;
    margin-right: 20px;
}

.hash {
    color: rgb(0, 174, 255);
}