.workspace-tab {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 60%;
    height: 70px;
}

.tab {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
    background-color: #303030;
}


span.MuiButton-label {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.MuiButton-label {
    display: flex !important;
    justify-content: space-around !important;
    color: white;
    height: 44px;
    border-radius: 5px;
}

.BttnP {
    width: 109px !important;
}

.makeStyles-menuIcon-2,
.MuiButton-textSecondary,
.MuiButton-textPrimary {
    height: 44px;
}

.ArrUp {
    height: 15px;
    transform: rotate(180deg)
}

.IconWTab {
    height: 18px;
    width: 20px;
    fill: none;
}

.ReDrop {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 44px;
    border-radius: 5px;
}

.dropdown select{
    color: black;
    background: white;
    border: none;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.dropdown select:focus{
    border: none;
    outline: none;
}

.hidden {
    display: none;
}

.auto-update {
    width: 40px !important;
    font-size: 25px !important;
}

.auto-update span.MuiButton-label svg {
    height: 20px;
    width: 20px;
}

span.MuiButton-label:hover {
    background-color: #00569F;
}

.auto-update-on span.MuiButton-label{
    background-color: #00569F !important;
}