/* Console */

.console-output {
    padding-left: 10px;
}

.console {
    overflow: scroll;
    /* height: 300px; */
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.console-hidden {
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0;
    background-color: white;
}
