.left-menu {
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #242321
}

.tab-header {
    display: flex;
    align-items:stretch;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #010818a9
}

.tab-text {
    display: flex;
    margin-left: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
}

.projects {
    height: 80%;
}

.project .icon {
    margin-left: 40px;
}
.project span.selected {
    margin-left: 30px;
}

.project {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.project:hover {
    background-color: beige;
}

.project span {
    color: rgb(45, 77, 107);
}