.search {
    margin-top: 20%;
}

.search input {
    margin-right: 5px;
    height: 30px;
    width: 300px;
    /* font-size: 34px; */
}

.search input:focus {
    outline: none;
}

.project-found {
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: azure;
    align-content: center;
    justify-content: center;

}

.icons {
    cursor: pointer;
}

.member {
    margin-right: 40%;
}

.current-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
}

.current-members {
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: azure;
    align-content: center;
    justify-content: center;

}

.project-found button {
    margin-left: 5%;
}