.left-menu {
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #242321
}

.tab-header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #010818a9
}


.modal {
    align-content: center;
    text-align: center;
    font-size: 20px;
}


.modal button {
    font-size: 15px;
    margin-left: 2%;
}

.tab-text {
    display: flex;
    margin-left: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    font-size: 22px;
}

.projects {
    height: 80%;
}

.active {
    border-left: solid;
    border-color: beige;
    display: flex;
}

.project .icon {
    margin-left: 15px;
}

.project span.selected {
    margin-left: 120px;
}

.project {
    height: 60px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.project:hover {
    background-color: rgb(51, 47, 59);
}

.project span {
    color: rgb(232, 225, 241);
    cursor: pointer;
    font-family: Sans-serif;
}


.icons {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: rgb(255, 255, 255);
}