.workspace-tab {
    position: absolute;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #31302d;
}

.react-switch-bg {
    background: #00569F !important
}

span.MuiButton-label{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.MuiButton-label {
    display: flex !important;
    justify-content: space-around !important;
    color: white;
    width: 169px !important;
    height: 44px;
    border-radius: 5px;
}

.BttnP {
    width: 109px !important;
}

.makeStyles-menuIcon-2,
.MuiButton-textSecondary,
.MuiButton-textPrimary{
    height: 44px;
    margin: 0 !important;
}

.ArrUp{
    height: 15px;
    transform: rotate(180deg)
}

.IconWTab {
    height: 18px;
    width: 20px;
    fill: none;
}

.react-switch-handle {
    background: rgb(199, 195, 195) !important
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 44px;
    border-radius: 5px;
}
.dropdown select{
    color: black;
    background: white;
    border: none;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.dropdown select:focus{
    border: none
}

.hidden {
    display: none;
}