html, body, #root, #app {
    height: 100%;
    width: 100%;
    padding:0%;
    margin: 0%;
}

/* Main containers */

#app {
    display: flex
}

.icon-left-side-bar {
    height: 100%;
    width: 90px;
    background-color: #333231;
    vertical-align: middle;
    text-align: center;
}

.left-menu {
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #242321
}

.workspace {
    right: 0;
    width: 75%;
    height: 100%;
}

/* Console */

.console-output {
    padding-left: 10px;
}

.console {
    overflow: scroll;
    /* height: 300px; */
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.console-hidden {
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.workspace-background {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #130d01;
}

.code {
    overflow: scroll;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    padding-top: 50px;
    height: calc(100% - 50px);
    background-color: #030200;
}

.workspace-tab {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #31302d;
}

Button {
    width: 90px;
}

.tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #010818a9
}

.tab-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.icon-left {
    display: inline-block;
    margin-top: 25px;
    width: 50px;
    height: 50px;
}